body{
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 50px;
  padding-top: 40px;
  background: white;
  text-align: center;
  margin: 0px;
}
h1{
  padding: 0px;
  margin: 16px;
}
p{
  font-size: 20px;
}
