<!DOCTYPE html>
<html>

  <head>
    <title>bokashi press - products</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <ul class="menu">
      <li><a href="contact">contact</a></li>
      <li><a href="thanks">thanks</a></li>
      <li><a href="products">products</a></li>
      <li><a href="method">method</a></li>
      <li><a href="index">home</a></li>
    </ul>
    <hr>
    <div class="product">
      <img src="https://bokashi.press/001.jpg" alt="(Bokashi Fermenting System)" width="460" height="auto">
      <div>
        <h2>Original Bokashi Press</h2>
        <p>Includes a lid, plunger, two repurposed 5 gallon buckets and a black plastic cap.</p>
        <p>$50</p>
      </div>
    </div>
    <hr>
    <div class="product">
      <img src="https://bokashi.press/001.jpg" alt="(Bokashi Fermenting System)" width="460" height="auto">
      <div>
        <h2>Bokashi Press V</h2>
        <p>Just like the original Bokashi Press but it's sized for the green Vokashi buckets. Doesn't come with buckets or black plastic lid.</p>
        <p>$40</p>
      </div>
    </div>
    <hr>
    <div class="product">
      <img src="https://bokashi.press/001.jpg" alt="(Bokashi Fermenting System)" width="460" height="auto">
      <div>
        <h2>Chaff</h2>
        <p>1 lb. bag of innoculated coffee chaff. </p>
        <p>$10</p>
      </div>
    </div>
    
  </body>
  color: #000;
}

ol {
  font-size: 20px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  list-style-type: none;
  font-size: 20px;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

li {
  margin-bottom: 15px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.menu li {
  float: right;
}

ul.menu li a {
  font-size: 15px;
  display: yes;
  padding: 8px;
  background-color: none;
}

.contact {
  text-align: center;
}

  text-align: left;
  margin-left:5%;
  margin-right:5%;
}

ul {
  font-size: 20px;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

li {
  margin-bottom: 15px;
}

.contact {
  text-align: center;
}
