body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  padding-top: 40px;
  background: white;
  text-align: center;
  margin: auto;
}
h1{
  font-family: Comfortaa, arial, sans-serif;
  margin: auto;
}
p{
  font-size: 12px;
  font family: Helvetica, Arial, sans-serif;
}
